<div class="book-summary">
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    {{ site.title | escape }}
                </a>
            </li>

            <li class="divider"></li>

            <!-- Tools -->
            <details open>
              <summary class="module-header"> Tools </summary>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/vim_configs">
                Vim: 配置python和C++常用插件
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/vim_ycm_semantic_analysis">
                Vim: 扩展YCM对C族语言第三方库的语义分析功能
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/vim_ycm_tags">
                Vim: 使用tags文件扩展YCM对C族语言第三方库的代码自动补全功能
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/vim_cheat_sheet">
                Vim: 常用命令
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/git_gitignore">
                Git: 忽略某些文件（夹）的跟踪
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/git_commands">
                Git: 常用命令
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/linux_ssh_vnc_ftp">
                Linux服务器远程连接: 配置ssh, vnc, ftp
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/tools_tmux">
                Linux服务器远程连接工具: Tmux
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/linux_nvidia_driver">
                Linux服务器安装nvidia驱动和cuda
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/latex_commands">
                Latex: 常用命令
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/pip_mirror">
                pip: 使用清华镜像源安装软件
                </a>
              </div>
              <div class="materials-item">
                <a href="{{ site.baseurl }}/tools/linux_opencv">
                Linux系统安装OpenCV
                </a>
              </div>
            </details>

            <!-- Algorithm -->
            <details open>
              <summary class="module-header"> Algorithm </summary>
              <div class="materials-item">
                  <a href="{{ site.baseurl }}/algorithm/hash_table">
                  Algorithm: 哈希表
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/algorithm/string">
                  Algorithm: 字符串
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/algorithm/two_pointers">
                  Algorithm: 双指针
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/algorithm/queue_stack">
                  Algorithm: 队列和栈
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/algorithm/binary_tree">
                  Algorithm: 二叉树
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/algorithm/backtracking">
                  Algorithm: 回溯
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/algorithm/greedy_algo">
                  Algorithm: 贪心
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/algorithm/dinamic_programming">
                  Algorithm: 动态规划
                  </a>
              </div>

            </details>

            <!-- CV -->
            <details open>
              <summary class="module-header"> CV & ML & DL </summary>
              <div class="materials-item">
                  <a href="{{ site.baseurl }}/cv/cv_opencv_lcc">
                  OpenCV: 获取图像最大连通域C++和Python版本
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/cv/cv_learn_transformer_1">
                  Transformer: 自注意力与多头自注意力模型的原理与实现
                  </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/cv/cv_learn_transformer_2">
                  Transformer: Transformer的整体架构与实现
                  </a>
              </div>
            </details>


            <!-- Python -->
            <details open>
              <summary class="module-header"> Python & C++ </summary>
              <div class="materials-item">
              <a href="{{ site.baseurl }}/python/python_x++">
                  Python: x+=1与x=x+1
              </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/python/python_parameters">
                  Python: 函数参数
              </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/python/python_exception">
                  Python: 异常处理
              </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/python/python_class_and_instance">
                  Python: 实例属性和类属性
              </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/python/python_create_module">
                  Python: 模块的建立与发布
              </a>
              </div>

              <div class="materials-item">
                  <a href="{{ site.baseurl }}/python/python_logging">
                  Python: logging模块
                  </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/python/python_pandas">
                  Python: pandas模块
              </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/python/python_random">
                  Python: random模块
              </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/python/python_singleton">
                  Python: 单例设计模式
              </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/cpp/cpp_fundations">
                  C++: 基础知识回顾
              </a>
              </div>

              <div class="materials-item">
              <a href="{{ site.baseurl }}/cpp/cpp_class">
                  C++: 类和对象
              </a>
              </div>

              <div class="materials-item">
                <a href="{{ site.baseurl }}/cpp/cpp_containers">
                    C++: STL容器
                </a>
              </div>
            </details>

        </ul>
    </nav>
</div>
