<script src="{{site.baseurl}}/css/gitbook.js"></script>
<script src="{{site.baseurl}}/css/theme.js"></script>
<script src="{{site.baseurl}}/css/gitbook-plugin-search-pro/jquery.mark.min.js"></script>
<script src="{{site.baseurl}}/css/gitbook-plugin-search-pro/search.js"></script>
<script src="{{site.baseurl}}/css/gitbook-plugin-back-to-top-button/plugin.js"></script>
<!-- mathjax -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  // Make responsive
  MathJax.Hub.Config({
   "HTML-CSS": { linebreaks: { automatic: true } },
   "SVG": { linebreaks: { automatic: true } },
   tex2jax: {
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    inlineMath: [['$','$']]
    }
  });
</script>

<footer class="site-footer">
  <a href="{{ site.url }}" target="_blank">@xuyang cao</a>
</footer>
