<!DOCTYPE HTML>
<html lang="en" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include blog_list.html -%}

            <div class="book-body">
                <!-- Title -->
                <div class="book-header" role="navigation">
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        <a href="{{ site.baseurl }}/index.html">{{ site.title }}</a>
                    </h1>
                </div>
                <!-- Body -->
                <div class="body-inner">
                    {%- include body.html -%}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>

        {%- include footer.html -%}

    </body>
</html>
